In [1]:
# variable are the containers used to store any datatypes
X=10

In [2]:
# print the variable
print(X)

10

In [3]:
# check the datatype of the variable
type(X)

int

In [8]:
y="thivi"
type(y)

str

In [10]:
p=3.0
type(p)

float

In [12]:
# create an integer dataype
int_1=20

# show the datatype
print(type(int_1))

<class 'int'>

In [14]:
# create an float datatype
float_1=20.38

# show the dataype
print(type(float_1))

<class 'float'>

In [16]:
# create an string datatype
string_1="Gopal"

# show the datatype
print(type(string_1))

<class 'str'>

In [20]:
# create an list datatype
list_1=[10,20,30,40]
list_2=[10.38,20.46,30.39,40.68]
list_3=['Gopal','Nirmal','Nandhini','Pooja']

# show the datatype
print(type(list_1))
print(list_1)
print(list_2)
print(list_3)

<class 'list'>
[10, 20, 30, 40]
[10.38, 20.46, 30.39, 40.68]
['Gopal', 'Nirmal', 'Nandhini', 'Pooja']

In [22]:
# create an tuple datatype
tuple_1=(10,20,30,40)
tuple_2=(10.38,20.46,30.39,40.68)
tuple_3=('Gopal','Nirmal','Nandhini','Pooja')

<class 'tuple'>

In [26]:
# create an set variable
set_1={10,20,30,40}
set_2={10.38,20.46,30.39,40.68}
set_3={'Gopal','Nirmal','Nandhini','Pooja'}

# show the datatype
print(type(set_1))
print(type(set_2))
print(type(set_3))

<class 'set'>
<class 'set'>
<class 'set'>

In [30]:
# create an boolean variable
Boolean_1=True
Boolean_2=False

# show the dataype
print(type(Boolean_1))
print(type(Boolean_2))

<class 'bool'>
<class 'bool'>

In [50]:
# create an dictionary datatype
dictionary_1={'list_1':[10,20,30,40],'tuple_1':(10,20,30,40),'set_1':{10,20,30,40}}

# show the datatype
print(type(dictionary_1))

<class 'dict'>

# basic operations

In [38]:
# typecasting
# Task1=typecasting
float_2=45.96

# show the dataaype
print(type(float_2))

<class 'float'>

In [48]:
int_2=int(float_2)

# show the dataaype
print(int_2)

45

In [55]:
int_3=5

# show the datatype
print(type(int_3))
float_3=float(int_3)

# show the datatype
print(type(float_3))

<class 'int'>
<class 'float'>

In [57]:
#task2
# use of roundfunction
float_4=10.1234567789
# round the value
round_value=round(float_4)
# show the output
print(round_value)

10

# Arithmetic opertions on Data

In [2]:
# addition operation
# declare the variable
a=10
b=20
# perform the sum
sum=a+b
# show the output
print(sum)

30

In [4]:
# subtraction operation
# declare the variable
a=20
b=10
# perform the sub
sub=a-b
#show the output
print(sub)

10

In [6]:
# multiplication operation
# declare the variable
a=2
b=100
#perform the mul
mul=a*b
#show the output
print(mul)

200

In [14]:
# division operation
# declare the variable
a=20
b=5
#perfor the division
div=a/b
#show the result
print(div)

4.0

In [12]:
# modulous operation
# declare the variable
a=20
b=5
#perfor the modulous
mod=a%b
#show the result
print(mod)

0

# user defiend function

In [35]:
# declare the function named as 'sumation',who can perform the  addition in two numbers
def summation():
    x=10
    y=20
    summation=x+y
    return summation
# call the function
summation()

30

In [41]:
# declare the function named as'subtraction'
#who can the subtraction between two variables
def subraction(x,y):
    subraction=x-y
    return subraction
# call the function
subraction(1000,999)

1

In [47]:
# declare the function multiplication
#who can the subtraction between two variables
def multiply():
    x=int(input("enter the number x:"))
    y=int(input("enter the number y:"))
    multiply=x*y
    return multiply
# call the function
multiply()

enter the number x: 45
enter the number y: 6

270